In [1]:
# True is 1 and False is 0
print(True > False) #Results true

True

In [2]:
print("Mani" > "Ramya") #M ASCII Lower than R. Results False

False

In [3]:
name = "Ramya"
print(len(name)) #5

5

In [4]:
name.__len__()

5

In [5]:
ages = [2, 10, 18, 80, 1]
print(len(ages)) #5

5

In [6]:
for i in range(0, len(ages)):
  print(ages[i])

2
10
18
80
1

In [7]:
d = {"a": 1, "b" : 2, "c":3}
print(len(d)) #3

3

In [8]:
num_30 = list(range(30))
print(num_30) #Prints Numbers 0-29

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [9]:
range_demo_list = list(range(7, 30, 5))
print(range_demo_list) #Prints from 7-29 With 5 Increment

[7, 12, 17, 22, 27]

In [10]:
print(min(10, 1, 0, -1)) #-1

-1

In [11]:
print(min("Mani", "Ramya")) #Mani

Mani

In [12]:
print(max(10, 1, 0, -1)) #10

10

In [13]:
print(max("Mani", "Ramya")) #Ramya

Ramya

In [14]:
print(round(3.6)) #4

4

In [15]:
print(round(1.4)) #1

1

In [16]:
print(round(1.5)) #2

2

In [17]:
print(round(-1.2)) #-1

-1

In [18]:
print(abs(-100.5)) #Returns absolute number of given decimal number - 100

100.5

In [19]:
print(pow(2, -3)) #0.125

0.125

In [20]:
pointsInGame = [0, -10, 15, -2, 1, 12]
sortedGame = sorted(pointsInGame)
print(sortedGame)

[-10, -2, 0, 1, 12, 15]

In [21]:
childs = ["Sue", "Jerry", "Linda"]
print(sorted(childs))

['Jerry', 'Linda', 'Sue']

In [22]:
childs = ["Sue", "jerry", "Linda"]
print(sorted(childs))

['Linda', 'Sue', 'jerry']

In [23]:
print(sorted(childs, key = str.upper)) #Case Sensitive sorting

['jerry', 'Linda', 'Sue']

In [24]:
print(sorted(pointsInGame, reverse = True)) #Reverse Sorting

[15, 12, 1, 0, -2, -10]

In [25]:
Leaderboard = {231:"CKL", 123:"ABC", 432:"JKC"}
print(sorted(Leaderboard, reverse= True)) #Sorts keys

[432, 231, 123]

In [26]:
students = [('alice','B', 20),('tae','A', 16), ('eliza', 'C',15)]
print(sorted(students, key = lambda student: student[0])) #Sort by first entry in tuple
print(sorted(students, key = lambda student: student[2])) #Sort by last entry in tuple i.e. age

[('alice', 'B', 20), ('eliza', 'C', 15), ('tae', 'A', 16)]
[('eliza', 'C', 15), ('tae', 'A', 16), ('alice', 'B', 20)]

In [27]:
print(type(students)) #<class 'list'>
print(type(Leaderboard)) #<class 'dict'>
print(type(range(0,30))) #<class 'range'>
print(type(2)) #<class 'int'>
print(type("apple")) #<class 'str'>

<class 'list'>
<class 'dict'>
<class 'range'>
<class 'int'>
<class 'str'>

In [28]:
print(isinstance(students, list)) #True
print(isinstance(Leaderboard, dict)) #True
print(isinstance(range(0,30), range)) #True
print(isinstance(2, int)) #True
print(isinstance("apple", str)) #True

True
True
True
True
True

In [29]:
class Car:
  pass

class Truck(Car):
  pass

c = Car()
t = Truck()

print(type(c)) #<class '__main__.Car'>
print(type(t)) #<class '__main__.Truck'>
print(type(c) == type(t)) #False
print(isinstance(t, Truck)) #True
print(isinstance(t, Car)) #True. Considers inheritance
print(isinstance(c, Truck)) #False

<class '__main__.Car'>
<class '__main__.Truck'>
False
True
True
False